<p class="lead mb-3"> </p>
<div class="lead mb-4, jumbotron jumbotron-fluid">
    <h1 class="display-3, text-center">QisPos 2.0</h1>

var sql = "SELECT T1.student_id, T1.note, T2.bezeichnung FROM student_has_klausur T1 inner join klausur T2 WHERE T1.student_id = 1 AND T2.id = (SELECT T1.klausur_id WHERE T1.student_id = 1);";
   

    <p class="lead mb-3, text-center">Welcome <%= user %></p>
    <p class="lead mb-3, text-center">Deine ID ist <%=  nutzerid %></p>
    <div class="text-right">

        <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </div>


    <p class="lead mb-3"> </p>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <!-- <ul class="navbar-nav mr-auto"> -->
            <ul class="nav nav-pills flex-column flex-sm-row">

                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Termine">Termine <span
                            class="sr-only">(current)</span></a> </li>



                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Notenübersicht">Notenübersicht</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Modulübersicht">Modulübersicht</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Ranking">Ranking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Evaluation">Evaluation</a>
                </li>
            </ul>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="Termine">
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
                synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
                retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid.
                Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate
                nisi qui.</p>
        </div>
        <div class="tab-pane fade" id="Notenübersicht">
            <p>Hier ist eine Übersicht deiner bisherigen Noten: </p>
        </div>
        <div class="tab-pane fade" id="Modulübersicht">
            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro
                fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone
                skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings
                gentrify squid 8-bit cred pitchfork.</p>
        </div>
        <div class="tab-pane fade" id="Ranking">
            <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master
                cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party
                locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they
                sold out farm-to-table VHS viral locavore cosby sweater.</p>
        </div>
        <div class="tab-pane fade" id="Evaluation">
            <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master
                cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party
                locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they
                sold out farm-to-table VHS viral locavore cosby sweater.</p>
        </div>
    </div>
