<div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body text-center">
            <!-- <h1><i class="fab fa-node-js fa-3x"></i></h1> -->

          
            <img src = "Logo.png" class="img-fluid" />
            <h3>QisPos 2.0</h3>
            <p class="lead mt-4"> 
            <a href="/register" class="btn btn-primary btn-block mb-2"
              >Registrieren</a
            >
            <a href="/login" class="btn btn-secondary btn-block">Login</a>
          </div>
        </div>
      </div>