extends layout

block content

  script(id ="login" type="text/javascript", src="/scripts/login.js")

  div(id="mainDiv")

    h1(id="menuTitle")= title

    div(id="menuDiv")
      p(id="testText") Username
      input(id ="username" type = 'text')
      p(id="menuText") Password
      input(id="password" type = 'text')

    button(id="loginButton" onClick= "login()") Log In
    
    p(id="madeByText") Developed by Florian Buchholz, Jule Maaß and Lukas Werdermann 