extends layout

block content
  h1= title
  p Welcome to #{title}
  p please sign in:

  p username:
   input(type = 'text').class-name#andyid

  p password:
    input(type = 'text').class-name#andyid




 